data/processed_audio/*
data/processed_test/*
data/processed_unknown/*
data/audio/*
data/test/*
data/processed_audio.rar
data/processed_test.rar
data/processed_unknown.rar
*.hdf5
*.pkl
!data/processed_audio/.gitkeep
!data/processed_test/.gitkeep
!data/processed_unknown/.gitkeep
!data/audio/.gitkeep
!data/test/.gitkeep
.ipynb_checkpoints
